<link rel='stylesheet' href='/stylesheets/employee.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

        <!--if user do not show up -->

{{#unless user}}
<div class="container-fluid header" id="header">
  <div class="container">
    <h1>{{title}}</h1>
    <span class="lead">Welcome to our employee directory</span>

    <span class="arrow" ><a href="#contact"><i class="fa-solid fa-circle-down"></i></a></span>
  </div>
</div>
{{/unless}}
        <!-- end if user do not show up -->

{{#if user}}
<h1 class="h1" >Employee Panel</h1>

       
{{/if}}
{{#if user}} <!-- add employee if user -->
<div class="addemployee">
<a class="offset-5 btn1" href="/employees/create" >Add New Employee <i class="fa-solid fa-users"></i></a>
</div>
{{/if}}

<table class="table">
   
  <thead>
    <tr>
      {{#if user}}

      <th scope="col">ID</th>
      <th scope="col"><!--files--></th>

      {{/if}}
      <!--show only the name and positin for not users-->
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Phone Number</th>

      <!--show only the name and positin for not users-->
      {{#if user}}
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">Start Date</th>
      <th scope="col">Status</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    <tr>
    {{#each employees}}
    {{#if ../user}}
      <th scope="row">
    <a class="id"  href="/employees/edit/{{this._id}}">
    {{this.employeeid}}
      </a>
    <!--end edit user-->

    </th>
    <td><a class="file"  href="/employees/edit/{{this._id}}">
  
      <i class="fa-solid fa-file-arrow-up"></i></a></td>

      <!--show only the name and positin for not users-->
{{/if}}
      <td>{{this.name}}</td>
      <td>{{this.position}}</td>
      <!--show only the name and positin for not users-->
      <td>{{this.phone}}</td>

      {{#if ../user}}

      <td>{{this.address}}</td>
       <td>{{this.city}}</td>
      <td>{{this.startdate}}</td>
       <td>{{this.status}}</td>
      {{/if}}
       {{#if ../user}}
      <td>
              <!--delete user-->
        <a class="delete" href="/employees/delete/{{this._id}}"onclick="return Delete()"><i class="fa-solid fa-trash-can"></i></a>
              
              <!--edit user-->
        <a class="delete" href="/employees/edit/{{this._id}}">  <i class="fa-solid fa-pen-to-square"></i> </a>

        </td>
        {{/if}}
    </tr>
      {{/each}}
   
  </tbody>

</table>
<div>

</div>

</div>
 <div id="salary-calculator-container">
    </div>
    

   {{#unless user}}
   <div class="container-fluid contact" id="contact">
  <div class="container">
       <h2>Contact Us</h2>
 <hr/>
  <form id="contact-form" method="post">
      <label for="name"></label>
  <input type="text" id="name" name="name" placeholder="Your Full Name" required>
      <label for="email"></label>
  <input type="email" id="email" name="email" placeholder="Your Email Address" required>
      <label for="message"></label>
  <textarea rows="6" placeholder="Your Message" id="message" name="message" required></textarea>
 <input type="submit" >  
</form>
   
  </div>
</div>
{{/unless}}

<!--the my planned calc is failed i dont know why and how to implament , decided to hard code a simply wage calculator 
when we have 52 weeks a years-->
{{#if user}}
<h1 class="h1">Salary calculator</h1>
<i class="fa-solid fa-calculator"></i>

<div class="calculator">
 <label class="wage" for="wage">Enter Hourly Wage:</label>
  <input class="wage" type="text" name="wage" id="wage" value="0.00"><br /><br />
  <label class="wage" for="hours">Hours Worked:</label>
  <input class="wage" type="text" name="hours" id="hours" value="00"><br /><br />
  <button class=" btn2" value="calculate" onclick="calcSalary()">Calculate</button><br />
  <p class="result " id="results"></p>
</div>

<p class="general">**The annual net income is calculated by subtracting the amounts related to the tax (Canada Tax and Ontario Tax), <br/>
  the Ontario surtax, the Ontario Health Preium, the Canadian Pension Plan, the Employment Insurance.</p>
<p class="note">Gross annual income - Taxes - Surtax - Health Premium - CPP - EI = Net annual salary

</p>

<div class="chart">
<!--the code from chart.js-->
<canvas id="myChart" style="width:100%;max-width:600px"></canvas>
</div>
<script>
var xValues = ["Accountant", "Controller", "Sale Associate", "PM", "General Manager", "Network Engineer", "Network Admin", "QA Tester" , "Backend Developer", "Frontend Developer"];
var yValues = [72280, 110000, 62568, 78526, 73525, 136752, 72224, 85625, 94109, 75000 ];
var barColors = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
  "#e8c3b9",
  "#1e7145",
  "#AD23AD",
  "#23AD23",
  "#AD8236",
  "#3662AD",
  "##80AD45"
];

new Chart("myChart", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Salaries by Position"
    }
  }
});
</script>



 {{/if}}