<link rel='stylesheet' href='/stylesheets/employee.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

<script src="salary-calculator/salary-calculator.js" charset="utf-8">
    </script>
        <!--if user do not show up -->

{{#unless user}}
<div class="container-fluid header" id="header">
  <div class="container">
    <h1>{{title}}</h1>
    <span class="lead">Welcome to our employee directory</span>

    <span class="arrow" ><a href="#contact"><i class="fa-solid fa-circle-down"></i></a></span>
  </div>
</div>
{{/unless}}
        <!-- end if user do not show up -->

<h1 class="h1" >Employee Panel</h1>
{{#if user}}
<a class="offset-5 btn1" href="/employees/create" >Add New Employee <i class="fa-solid fa-users"></i></a>
{{/if}}
<table class="table">
   
  <thead>
    <tr>
      {{#if user}}
      <th scope="col">ID</th>
      {{/if}}
      <!--show only the name and positin for not users-->
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Phone Number</th>

      <!--show only the name and positin for not users-->
      {{#if user}}
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">Start Date</th>
      <th scope="col">Status</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    <tr>
    {{#each employees}}
    {{#if ../user}}
      <th scope="row">
    <a class="id"  href="/employees/edit/{{this._id}}">
    {{this.employeeid}}
      </a>
    {{/if}}
    </th>
      <!--show only the name and positin for not users-->

      <td>{{this.name}}</td>
      <td>{{this.position}}</td>
      <!--show only the name and positin for not users-->
      <td>{{this.phone}}</td>

      {{#if ../user}}

      <td>{{this.address}}</td>
       <td>{{this.city}}</td>
      <td>{{this.startdate}}</td>
       <td>{{this.status}}</td>
      {{/if}}
       {{#if ../user}}
      <td>
              <!--delete user-->
        <a class="delete" href="/employees/delete/{{this._id}}"onclick="return Delete()"><i class="fa-solid fa-trash-can"></i></a>
              
              <!--edit user-->
        <a class="delete" href="/employees/edit/{{this._id}}">  <i class="fa-solid fa-pen-to-square"></i> </a>

        </td>
        {{/if}}
    </tr>
      {{/each}}
   
  </tbody>

</table>
<div>

</div>
 <!--    <p>Salary Calculator custom integration</p>

</div>
my calc faild. 
 <div id="salary-calculator-container">
    </div>
    <script charset="utf-8">
      SalaryCalculator.init(
        document.getElementById("salary-calculator-container")
      )
    </script>-->

   {{#unless user}}
   <div class="container-fluid contact" id="contact">
  <div class="container">
       <h2>Contact Us</h2>
 <hr/>
  <form id="contact-form" method="post">
      <label for="name"></label>
  <input type="text" id="name" name="name" placeholder="Your Full Name" required>
      <label for="email"></label>
  <input type="email" id="email" name="email" placeholder="Your Email Address" required>
      <label for="message"></label>
  <textarea rows="6" placeholder="Your Message" id="message" name="message" required></textarea>
 <input type="submit" >  
</form>
   
  </div>
</div>
{{/unless}}